
.container {
    margin-top: 20px;
    overflow-x: auto;
}

.table-contsiner {
    width: 100%;
    border-collapse:separate;
    font-size: 14px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:hover {
    background-color: #c7c5c5;
}
